h1{
    color: rgb(0, 0, 0);
    text-align: center;
 
  
}
img{
    margin-right: 40%;
    width: 10%;
    float: right;
    margin-left: 10px;
  
}
button{
    background-color: chartreuse;
}
nav{
    background-image: url("");
    background-size: cover;
}